#-*- mode: gitignore -*-
# This file is intentionally left blank.
# It is used to indicate that the containing directory is not empty.
#
# It is recommended to create a .gitignore file in each of the following platforms
# and add the following lines to each file:
#
# /build/
#
# This will prevent the build output from being tracked by Git.
#
# See https://flutter.dev/to/gitignore-platforms for more details.
key.properties
google-services.json
